<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f21f36c6-e9a0-41f5-ac1b-c6d9f2bed29b/resourcegroups/MobileBacked/providers/Microsoft.Web/sites/k2mobileBackend</ResourceId>
    <ResourceGroup>MobileBacked</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://k2mobilebackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>k2mobilebackend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>k2mobileBackend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$k2mobileBackend</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TimesheetEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mobileappdemok2.database.windows.net,1433;Initial Catalog=MobileApp1AndroidDemo;Persist Security Info=True;User ID=mobiledemo;Password=Sala123Sana123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="mobileBackend.DataAccess.TimesheetEntities, mobileBackend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TimesheetEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.TimesheetEntities.csdl|res://*/DataAccess.TimesheetEntities.ssdl|res://*/DataAccess.TimesheetEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mobileappdemok2.database.windows.net,1433;Initial Catalog=MobileApp1AndroidDemo;Persist Security Info=True;User ID=mobiledemo;Password=Sala123Sana123"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>