@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tämä On MobileAppsi harjoitustyö</h1>
    <p>
        Ohjelmassa valitaan henkilö jolle työkirjausta suoritetaan. Jos henkilön kuva on tallennettu, niin se näytetään ruudulla.
        Ohjelma kirjaa henkilön työaikakirjauksia. Kirjaus vaiheessa myös GPS-koordinaatit tallentuvat tietokantaan.
        Henkilö voi halutessaa ottaa itsestään henkilökuvan
    </p>

</div>
